[submodule "TWAP-price-provider/lib/v3-core"]
	path = TWAP-price-provider/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "TWAP-price-provider/lib/v3-periphery"]
	path = TWAP-price-provider/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "TWAP-price-provider/lib/openzeppelin-contracts"]
	path = TWAP-price-provider/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "TWAP-price-provider/lib/forge-std"]
	path = TWAP-price-provider/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap-v3/lib/v3-core"]
	path = uniswap-v3/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "uniswap-v3/lib/v3-periphery"]
	path = uniswap-v3/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "uniswap-v3/lib/openzeppelin-contracts"]
	path = uniswap-v3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "uniswap-v3/lib/forge-std"]
	path = uniswap-v3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std 